body {
    font-family: Helvetica, Arial, sans-serif;
}

.view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;

    background-image: -webkit-linear-gradient(bottom, #C9C9C9 0%, #ffffff 58%);
}

#menu {
    display: none;
}

#menuBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#menuOptions {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.menuOption {
    position: absolute;
    -webkit-transform: translateZ(0);
    margin-left: -75.5px;
    margin-top: -107.5px;
}

@media only screen and (max-width: 640px) {
    .menuOption {
        margin-left: -37.75px;
        margin-top: -53.75px;
    }
}

.menuOptionImage {
    width: 135px;
    height: 195px;
    border: 8px solid #ffebcd;
    background-color: white;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 3px 3px 8px 0 black;
    -webkit-transform: translateZ(0);
    -webkit-transition: border 0.5s linear;
}

@media only screen and (max-width: 640px) {
    .menuOptionImage {
        width: 67.5px;
        height: 97.5px;
        border-width: 4px;
    }
}

.menuOptionSelected {
    background: gray;
}

.menuOptionText {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    width: 100%;
    text-align: right;
    font-size: 20pt;
    font-weight: bold;
    text-shadow: #505050 0 0 10px;
}

@media only screen and (max-width: 640px) {
    .menuOptionText {
        font-size: 12pt;
    }
}

#menuTitle {
    position: absolute;
    left: -20px;
    top: 4%;
    font-size: 40pt;
    font-weight: bold;
    text-shadow: #505050 0 0 10px;
    background-color: white;
    padding: 10px 40px 10px 50px;
    border: 8px solid #ffebcd;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 3px 3px 8px 0px black;
}

.bigTitle {
    position: absolute;
    top: 4%;
    left: -20px;
    font-size: 20pt;
    font-weight: bold;
    color: black;
    text-shadow: #505050 0 0 10px;
    background-color: white;
    padding: 10px 40px 10px 50px;
    border: 8px solid #ffebcd;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 3px 3px 8px 0px black;
}

@media only screen and (max-width: 640px) {
    .bigTitle {
        top: 2%;
        padding: 5px 10px 5px 40px;
        font-size: 14pt;
        border-width: 4px;
    }
}

.footer {
    position: absolute;
    bottom: 4%;
    right: -20px;
    background-color: white;
    padding: 6px 50px 0 20px;
    text-shadow: #505050 0 0 10px;
    font-size: 12pt;
    border: 8px solid #ffebcd;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 3px 3px 8px 0px black;
}

@media only screen and (max-width: 640px) {
    .footer {
        bottom: 2%;
        padding: 3px 40px 0 10px;
        font-size: 9pt;
        border-width: 4px;
    }
}

.okButton {
    display: inline-block;
    background: url('../images/ok.png') no-repeat;
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
}

.backButton {
    display: inline-block;
    background: url('../images/cancel.png') no-repeat;
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
}

.okPressed {
    background: url('../images/ok-pressed.png') no-repeat;
}

.backPressed {
    background: url('../images/cancel-pressed.png') no-repeat;
}

.questionMarks {
    position: absolute;
    overflow: hidden;
    width: 100%;
    pointer-events: none;
}

.animatedBackgroundImage {
    position: absolute;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition-property: all;
    -webkit-transition-timing-function: linear;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

#avatars {
    position: absolute;
    height: 244px;
    width: 100%;
    overflow-x: hidden;
    top: 50%;
    margin-top: -70px;
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 16%, #C9C9C9 58%);
    -webkit-box-shadow: 0 3px 8px 0 black;
}

@media only screen and (max-width: 640px) {
    #avatars {
        height: 122px;
        margin-top: -44px;
    }
}

#nameInput {
    position: absolute;
    top: 50%;
    margin-top: -148px;
    width: 100%;
    text-align: center;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: #505050 0 0 10px;
    background-image: -webkit-linear-gradient(bottom, #C9C9C9 16%, #f0f0f0 58%);
}

@media only screen and (max-width: 640px) {
    #nameInput {
        font-size: medium;
        margin-top: -94px;
        padding: 5px;
    }
}

#nameInput div {
    display: inline-block;
    border: 8px solid #ffebcd;
    background: white;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 3px 3px 8px 0 black;
    margin: 10px;
}

@media only screen and (max-width: 640px) {
    #nameInput div {
        border-width: 4px;
        margin: 5px;
    }
}

#nameInput div input {
    font-size: large;
    text-align: center;
    width: 230px;
    border: none;
    background: white;
}

@media only screen and (max-width: 640px) {
    #nameInput div input {
        font-size: medium;
        width: 180px;
    }
}

.imageSelectionOptionContainer {
    position: absolute;
    -webkit-transform: translateZ(0);
}

.imageSelectionOption {
    position: absolute;
    top: 16px;
    width: 202.5px;
    text-align: center;
    -webkit-transform: translateZ(0);
}

@media only screen and (max-width: 640px) {
    .imageSelectionOption {
        top: 8px;
        width: 101.25px;
    }
}

.imageSelectionImageFrame {
    position: absolute;
    left: 34px;
}

@media only screen and (max-width: 640px) {
    .imageSelectionImageFrame {
        left: 18px;
    }
}

.imageSelectionOptionImage {
    width: 135px;
    height: 195px;
    border: 8px solid #ffebcd;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 3px 3px 8px 0 black;
    -webkit-transform: translateZ(0);
    -webkit-transition: border 0.5s linear;
}

@media only screen and (max-width: 640px) {
    .imageSelectionOptionImage {
        width: 67.5px;
        height: 97.5px;
        border-width: 4px;
    }
}

.imageSelectionSelector {
}

.imageSelectionSelector .imageSelectionOptionImage {
    border: 8px solid #adff2f;
}

@media only screen and (max-width: 640px) {
    .imageSelectionSelector .imageSelectionOptionImage {
        border-width: 4px;
    }
}

.imageSelectionOptionOverlay {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
}

@media only screen and (max-width: 640px) {
    .imageSelectionOptionOverlay {
        width: 16px;
        height: 16px;
        top: 8px;
        right: 8px;
    }
}

.imageSelectionOptionText {
    position: absolute;
    width: 135px;
    height: 35px;
    bottom: 15px;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    color: white;
    display: table;
    padding-left: 8px;
    text-shadow: #000000 -2px 0 2px, #000000 0 -2px 2px, #000000 2px 0 2px, #000000 0 2px 2px;
}

@media only screen and (max-width: 640px) {
    .imageSelectionOptionText {
        width: 67.5px;
        height: 17.5px;
        bottom: 10px;
        font-size: 7pt;
        padding-left: 4px;
        text-shadow: #000000 -1px 0 1px, #000000 0 -1px 1px, #000000 1px 0 1px, #000000 0 1px 1px;
    }
}

.imageSelectionOptionText p {
    vertical-align: middle;
    display: table-cell;
}

#topics {
    position: absolute;
    height: 244px;
    width: 100%;
    overflow-x: hidden;
    top: 50%;
    margin-top: -122px;
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 16%, #C9C9C9 58%);
    -webkit-box-shadow: 0 3px 8px 0 black;
}

@media only screen and (max-width: 640px) {
    #topics {
        height: 122px;
        margin-top: -61px;
    }
}

#opponents {
    position: absolute;
    height: 244px;
    width: 100%;
    overflow-x: hidden;
    top: 50%;
    margin-top: -122px;
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 16%, #C9C9C9 58%);
    -webkit-box-shadow: 0 3px 8px 0 black;
}

@media only screen and (max-width: 640px) {
    #opponents {
        height: 122px;
        margin-top: -61px;
    }
}

.imageSelectionOpponent {
    width: 360px;
}

@media only screen and (max-width: 640px) {
    .imageSelectionOpponent {
        width: 180px;
    }
}

.imageSelectionLeftOpponent {
    position: absolute;
    right: 182px;
}

@media only screen and (max-width: 640px) {
    .imageSelectionLeftOpponent {
        right: 91px;
    }
}

.imageSelectionRightOpponent {
    position: absolute;
    left: 182px;
}

@media only screen and (max-width: 640px) {
    .imageSelectionRightOpponent {
        left: 91px;
    }
}

.imageSelectionOpponentDifficulty {
    position: absolute;
    height: 210px;
    width: 306px;
    left: 25px;
    -webkit-border-radius: 2px;
}

.imageSelectionOpponentEasy {
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 16%, #d9f0d9 58%);
    -webkit-box-shadow: 3px 3px 8px 8px #d9f0d9;
}

.imageSelectionOpponentMedium {
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 16%, #f5f5d0 58%);
    -webkit-box-shadow: 3px 3px 8px 8px #f9f6d0;
}

.imageSelectionOpponentHard {
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 16%, #f0d9d9 58%);
    -webkit-box-shadow: 3px 3px 8px 8px #f0d9d9;
}

@media only screen and (max-width: 640px) {
    .imageSelectionOpponentDifficulty {
        height: 105px;
        width: 153px;
        left: 12.5px;
        -webkit-border-radius: 1px;
    }

    .imageSelectionOpponentEasy {
        -webkit-box-shadow: 1px 1px 4px 4px #d9f0d9;
    }

    .imageSelectionOpponentMedium {
        -webkit-box-shadow: 1px 1px 4px 4px #f9f6d0;
    }

    .imageSelectionOpponentHard {
        -webkit-box-shadow: 1px 1px 4px 4px #f0d9d9;
    }
}

